body {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-frame {
  display: flex;
  width: 50vw;
  height: auto;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 10px;
}
.form-body {
  padding: 10px 20px;
  width: 90%;
}
.social-button {
  cursor: pointer;
  width: 100%;
  display: flex;
  border: 1px solid #413fb5;
  border-radius: 5px;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  margin-bottom: 10px;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h6 {
  font-size: 8px;
}
.divider-line {
  height: 1px;
  background-color: rgb(154, 154, 154);
  width: 33%;
}
.name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.name input:first-of-type {
  margin-right: 10px;
}
input {
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgb(237, 235, 240);
  border-radius: 7px;
}
.consent {
  display: flex;
  font-size: 9px;
  justify-content: flex-start;
  align-items: center;
}
input[type="checkbox"] {
  width: auto;
  margin: 0;
  margin-left: 10px;
}
.consent div {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 500;
}
.consent a {
  color: black;
  text-decoration-color: #413fb5;
  text-decoration-thickness: 2px;
  font-weight: 500;
}
button {
  cursor: pointer;
  padding: 10px 30px;
  width: 100%;
  color: white;
  font-size: 10px;
  font-weight: 600;
  background-color: #413fb5;
  border-radius: 5px;
  border: 1px solid #413fb5;
  margin-top: 20px;
}
.form-image {
  background-image: url(https://galeriamarek.pl/media/cache/gallery/rc/p9p4ijg0/gym-hero-bluza-hero-crop-top-damskie-bluzy-szary-ghbl004gr.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.footer {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 9px;
  font-weight: 500;
}
.footer a {
  color: black;
  text-decoration-color: #413fb5;
  text-decoration-thickness: 2px;
}
